//! **************************************************************************
// Written by: Map P.49d on Mon Feb 17 09:34:55 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

